/.idea
.py[coz]
/*.sqlite3

*__pycache__
/static
*~
setuptools-[0-9]*
virtualenv-[0-9]*

*.egg-info
build

*.pem

/env
/.env
/*.ipynb_checkpoints
/*.tex
*.aux
*.log
*.out
*.pdf
*.synctex
*/node_modules
*/extra_fonts
*/tmp
*.tar.gz
*/docker-compose.yml
local_settings.py
*/local_settings/requirements.txt
/latex2image/l2i_images
/latex2image/.coverage
/latex2image/htmlcov
/docker-compose.yml
/latex2image/tests/*.ipynb
