{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    {{ form_description }} - LaTeX2Image
{% endblock %}

{% block head_assets_form_media %}
    {{ form.media }}
{% endblock %}


{% block content %}
    <div class="container l2i-input">
        <div class="row">
            {% if form_description %}
                <h1>{{ form_description }}</h1>
                {{ form_text|safe }}
            {% endif %}
            <div class="well">
                {% crispy form %}
            </div>
        </div>
    </div>
    <div class="container l2i-output">
        <div class="row">
            {% if instance.compile_error or unknown_error %}
                <hr>
                <div class="alert alert-danger no-mathjax">
                    <h2>{% if instance.compile_error %}{% trans "Compile Error" %}{% else %}{% trans "Unknown Error" %}{% endif %}</h2>
                    <p>
                    {% if instance.compile_error %}
                        <pre>{{ instance.compile_error | safe }}</pre>
                    {% else %}
                        <pre>{{ unknown_error | safe }}</pre>
                    {% endif %}
                    </p>
                </div>
            {% endif %}
            {% if instance.image %}
                <hr>
                <div class="alert alert-success no-mathjax">
                    <h2>{% trans "Image" %}</h2>
                    <hr>
                    <div class="well"><img class="img-responsive" style="margin: 0 auto;" src="{{ instance.data_url }}"/></div>
                    <hr>
                    {% if size %}
                        <div><b>{% trans "size" %}:</b> <span>{{ size |filesizeformat }}</span></div>
                    {% endif %}
                    <div><b>{% trans "path" %}:</b> <span> <a href="{{ instance.image }}">{{ instance.image }}</a></span></div>
                    <hr>
                </div>
            {% endif %}
            {% if tex_source %}
                <hr>
                <div class="alert alert-info no-mathjax">
                    <h2>{% trans "Source Code" %}</h2>
                    <div>
                        <pre>{{ tex_source | safe }}</pre>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
