@media (min-width: 768px) {
    .l2i-input {
        position: absolute;
        top: 60px;
        left: 0;
        width: 50%;
        bottom: 0;
        padding-left: 50px;
        padding-right: 50px;
        overflow-y: auto;
    }

    .l2i-output {
        position: absolute;
        top: 60px;
        right: 0;
        width: 50%;
        bottom: 0;
        overflow-y: auto;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 767px) {
    .l2i-input.container > div {
        margin-left: 5px;
        margin-right: 5px;
    }

    .l2i-output.container > div {
        margin-left: 5px;
        margin-right: 5px;
    }

    h1, .h1 {
        font-size: 30px;
    }

    h2, .h2 {
        font-size: 24px;
    }
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
