django==3.2.15

# ImageField
Pillow

# Django and MongoDB database connector 
djongo
pymongo<4
sqlparse

# For ImageMagick
wand

# For mypy (static type checking) support
typing

# django forms
django-crispy-forms

# REST api
djangorestframework

# CORS
django-cors-headers

# codemirror
django-codemirror-widget

# For web dependencies
django-npm

# For cache
django-redis

# For web storage
django-s3-storage
